<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Shareapp</strong>
   <ion-button expand='full' (click)="basicShare()">Basic Share</ion-button>
   <ion-button expand='full' (click)="shareLocalFile()">Local File Share</ion-button>
   <ion-button expand='full' (click)="basicShare()">Basic Share</ion-button>
  </div>
</ion-content>
